body{
    background-image:url(./images/background.jpg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    }
#preloader{
    background: #000 url(images/loader.gif.gif) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.button{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    

}
.h2{
    font-style: italic;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}