body{
    background-image:url(./images/background.jpg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    }
#preloader{
    background: #000 url(images/loader.gif.gif) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
    
.banana {
    width: 1000px;
    height: 300px;
    margin-left: 250px;
  }

.h2{
    font-style: italic;
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

body, html {
    font-family: Signika Negative, sans-serif;
    background: #111;
    color:#efefef;
    height:100%;
  }
  .btn {
    border: none;
    text-align:center;
    cursor: pointer;
    padding: 25px 80px;
    margin: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background-color:rgb(38, 38, 38);
    border: solid 1px transparent;
    border-radius:10px;
    -webkit-font-smoothing: antialiased;
  }
  
  .nav {
    position:relative;
    width:350px;
    margin:auto;
    overflow:hidden;
    background-color:#111;
    height:50%;
  }
  
  .instructions {
    text-align:center;
    margin-top:10px;
    
 
}